@model AccountType

<div class="card-body">
    <h4 class="card-title text-dark text-uppercase text-center">@(Model.Id != 0 ? "Update" : "Create") Account Type</h4>
    <form class="forms-sample" method="post">
        <input asp-for="Id" hidden />
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for=Name type="text" class="form-control bg-white text-dark"  placeholder="Name">
            <span class="text-danger " asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description">Textarea</label>
            <textarea class="form-control" asp-for="Description" rows="4"></textarea>
            <span class="text-danger " asp-validation-for="Description"></span>

        </div>
        @if (Model.Id != 0)
        {
            <button type="submit" class="btn btn-primary mr-2">Update</button>
        }
        else
        {
            <button type="submit" class="btn btn-primary mr-2">Create</button>
        }
        <a class="btn btn-dark" asp-action="Index" asp-controller="AccountType">Cancel</a>
    </form>
</div>

@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}